# Executables
server
client
kitchen

# Compiled Objects
*.o
*.out

# Mac OS
.DS_Store

# Documents
*.pdf

# Python Environments
pdfenv/
__pycache__/

# Temporary Files & Logs
temp.txt
server_logs.txt
